{% extends 'products/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <div style="text-align: center;">
        <body>
            <h1>About this project</h1>
            <p>This is a model site, focused in back-end, that i created to show my habilities with data-base, python, django, HTML, Bootstrap and JS(Which are the technologies used in the web-site)</p>
            <br>
            <p>I worked in this project entirely by myself, and the idea came to show my skills in a web devolop enviroment, using django framework to manipulate database, and bootstrap for front-end</p>
        </body>
        <footer>
            <a href="https://github.com/kaiposaldanha/">My GitHub</a>
            <br>
            <a href="https://linkedin.com/in/kaiposaldanha/">My Linkedin</a>
        </footer>
    </div>
{% endblock %}