{% extends 'products/layout.html' %}

{% block title %}Instruments{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
                <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.imagem.url }}" alt="Descrição da Imagem" class="bd-placeholder-img card-img-top" style="width: 420px; height: 300px;">
                    <div class="card-body">
                    <p class="card-text">{{ product.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-outline-secondary">add to cart</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
{% endblock %}
